@import url('https://fonts.googleapis.com/css2?family=Fredoka+One');

:root {
    --main-text-color: #ffffff;
    --main-bg: linear-gradient(275deg, #56DEE4 0%, #43D9DF 50%, #17CBD2 100%);
}
*{
    font-family: 'Fredoka One', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
} 
section {
    padding: 100px 200px;
}

/* Navigations */

header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px ;
    background: var(--main-bg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.navigation a{
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 1.25em;
    padding-left: 30px;
    text-decoration: none;
}
.navigation a:hover{
    text-decoration: underline;
}
.header-logo {
    border-radius: 100%;
    width: 75px;
}

/* Home */

.main-body {
    width: 100%;
    background: var(--main-bg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main-body h2 {
    color: var(--main-text-color);
    font-size: 6em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 1em;
    margin-bottom: 30px;
    text-align: center;
}

.main-body h3 {
    color: var(--main-text-color);
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

/* Buttons */

.main-btn {
    color: #000000;
    text-decoration: none;
    font-size: 1.25em;
    display: inline-block;
    padding: 0.9375em 2em;
    border-radius: 15px;;
}
.main-btn:hover {
    text-decoration: underline;
}

/* Cards */

.title {
    display: flex;
    color: #000;
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 30px;
}
.card {
    min-height: 7em;
    width: 28em;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 10px;
    transition: 0.7s ease;
    outline: none;
    background: var(--main-bg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    scrollbar-width: auto;
}
.card-info {
    padding: 1em;
}
.card-text {
    font-size: 1.3em;
    color: #000;
    text-overflow: ellipsis;
}
.content {
    display: flex;
    flex-wrap: wrap;
}
